SFDXProject/force-app/main/default/flows/Agendamento_de_visitas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Escolhe_visita</name>
        <label>Escolhe visita</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Cancela_agendamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Se não</defaultConnectorLabel>
        <rules>
            <name>Se_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voce_quer_agendar_alguma_visita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EscolhaDataHora</targetReference>
            </connector>
            <label>Se Visita</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agendamento de visitas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de visitas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Atualiza_Data_e_Hora</name>
        <label>Atualiza Data e Hora</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Conclusao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitaAgendada__c</field>
            <value>
                <elementReference>Escolha_data_e_hora</elementReference>
            </value>
        </inputAssignments>
        <object>Imoveis__c</object>
    </recordUpdates>
    <screens>
        <name>AgendamentoVisitas</name>
        <label>Agendamento de visitas</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Escolhe_visita</targetReference>
        </connector>
        <fields>
            <name>Voce_quer_agendar_alguma_visita</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Você quer agendar alguma visita?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancela_agendamento</name>
        <label>Cancela agendamento</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Obrigado</name>
            <fieldText>&lt;p&gt;Obrigado.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conclusao</name>
        <label>Conclusão</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FInal</name>
            <fieldText>&lt;p&gt;Visita agendada com sucesso!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EscolhaDataHora</name>
        <label>Escolha a Data e Hora</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualiza_Data_e_Hora</targetReference>
        </connector>
        <fields>
            <name>Escolha_data_e_hora</name>
            <dataType>DateTime</dataType>
            <fieldText>Escolha data e hora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AgendamentoVisitas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
